:root {
    --bg-color: white;
    --color: black;
    --theme-color: #004d00;
    --line-height: 1.5rem;
}

* {
    line-height: var(--line-height);
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: var(--color);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--theme-color);
}

body {
    counter-reset: h2counter;
    padding: 3rem 20%;
}

h1 {
    counter-reset: h2counter;
    text-align: center;
}

.subheader {
    text-align: center;
    font-size: 1.1rem;
}

.header-card {
    gap: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1rem;
}

.header-card img {
    border: 0.1rem solid var(--theme-color);
    border-radius: 5px;
    height: calc(8 * var(--line-height));
}

.theme-colors {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    column-gap: 0.5rem;
}

.theme-colors div {
    padding: 0.2rem 0.5rem;
    width: calc(1.2 * var(--line-height));
    height: calc(0.2 * var(--line-height));
    border-radius: 0.4rem;
}

.dark-mode {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    column-gap: 0.5rem;
}

.dark-mode div {
    padding: 0.2rem 0.5rem;
    width: calc(1.2 * var(--line-height));
    height: calc(0.0.5 * var(--line-height));
    border-radius: 0.5rem;
    cursor: pointer;
}

.dark-mode .sun {
    background-color: rgb(220, 220, 220);
    border: calc(0.2 * var(--line-height)) solid black;
    display: inherit;
}

.dark-mode .moon {
    border: calc(0.2 * var(--line-height)) solid rgb(220, 220, 220);
    background-color: black;
    display: none;
}

.profile {
    text-align: center;
}

.coding::before,
.paper::before {
    font-family: 'Courier New', Courier, monospace;
    padding-right: 0.7rem;
}

.coding::before {
    content: '>_';
}

.paper::before {
    content: '🗎 ';
}

h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

h2 {
    border-bottom: 1px solid var(--theme-color);
    padding-top: 2rem;
    padding-bottom: 1.0rem;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.two-columns {
    display: grid;
    grid-template-columns: auto auto;
}

.three-columns {
    display: grid;
    grid-template-columns: auto auto auto;
}

.dated-card {
    margin-bottom: 2rem;
}

.dated-card-header {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
    font-weight: bold;
}

.dated-card-header div:nth-child(2) {
    font-style: italic;
    text-align: right;
}

.position *:nth-child(2)::before {
    content: ' │ ';
    color: var(--theme-color);
}

.dated-card-content {
    padding-left: 1rem;
    border-left: 1px solid var(--theme-color);
}

.more,
.btnless {
    display: none;
}

.btnmore,
.btnless {
    color: gray;
    padding: 0.2rem 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.publication {
    display: inline-block;
    padding-bottom: 1rem;
}